@import 'styles/variables.scss';
@import 'styles/extends.scss';
@import 'styles/mixins.scss';

.native-select {
    @extend .hidden-native-input-extend;

    visibility: visible;

    &:hover,
    &:focus,
    &:focus-visible {
        & ~ .select {
            border-color: var(--hover) !important;
        }
    }
}

.native-select,
.select {
    &:hover,
    &:focus,
    &:focus-visible {
        ~ .arrow-button {
            svg {
                fill: var(--hover);
                transition: fill $input-transition-duration
                    $input-transition-function;
            }
        }
    }
}

.select-wrapper,
.select,
.label,
.placeholder {
    cursor: pointer;
}

.label,
.placeholder {
    & *,
    &::after,
    &::before {
        cursor: pointer;
    }
}

.select-wrapper {
    position: relative;
    z-index: 1;

    &:hover {
        .select {
            border-color: var(--hover) !important;
        }
    }
}

.select {
    @extend .text-field-extend;

    height: $input-height;

    &--open {
        border-color: var(--hover) !important;
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }

    &--fixed-options {
        border-bottom-left-radius: $border-radius-md !important;
        border-bottom-right-radius: $border-radius-md !important;
    }

    &--filled {
        & ~ .placeholder {
            display: none;
        }
    }

    &--disabled {
        @extend .input-disabled-state-extend;
    }

    &--error,
    &--error:hover,
    &--error:focus,
    &--error:active {
        @extend .input-error-state-extend;
    }
}

.arrow-button {
    position: absolute;
    right: calc(#{$input-inline-spacing} * 0.7);
    top: 50%;
    translate: 0 -50%;

    &--open {
        transform: rotate(180deg);
    }

    &--error {
        svg {
            fill: var(--red);
        }
    }

    &--disabled {
        @extend .cursor-not-allowed-extend;

        svg {
            fill: var(--disabled);
        }
    }
}

.options {
    @extend .text-field-border-extend;
    @include hidden-animated-element(
        $input-transition-duration,
        $input-transition-function
    );

    position: absolute;
    z-index: 1;
    top: calc(100% - #{$border-width});
    display: flex;
    flex-direction: column;
    gap: $spacing-1;
    width: 100%;
    max-height: 11.25rem;
    padding: $spacing-1;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-color: var(--hover) !important;
    background-color: var(--background);
    overflow-y: auto;
    cursor: default;

    &--open {
        @include visible-animated-element();
    }

    &--fixed {
        border-top-left-radius: $border-radius-md !important;
        border-top-right-radius: $border-radius-md !important;
    }
}

.option-item {
    display: block;
    padding: $spacing-1;
    border: none;
    border-radius: $border-radius-sm;
    text-align: left;
    transition: background-color calc(#{$base-transition-duration} / 2);
    cursor: pointer;

    &:hover,
    &:focus-visible {
        background-color: var(--middle-opacity);
    }

    &--selected {
        background-color: var(--middle-color);
    }

    &--disabled {
        background-color: var(--disabled);
    }
}
