.empty-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-wrapper {
    // margin-bottom: 1.5rem;
    // display: flex;
    // justify-content: center;
}
